/*ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ*/
:root {
	--color__white: #ffffff;
	--color__black: #000000;
	--color__dark: #404449;
	--color__gray: #868686;
	--color__gray-light: #F7F8F9;
	--color__red: #E41E0C;
	--color__yellow: #FFCF00;
}

/*ШРИФТЫ*/
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Medium.woff') format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
}


/*СТИЛИ ВСЕГО ДОКУМЕНТА*/
* { /* отключаем подсветку кнопки или ссылки при тапе */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

:focus {
	outline: none !important;
}
html {
	color: var(--color__dark);
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

html, body {
	overflow-x: hidden;
	opacity: 1;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, input, button {
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}

/* ОСНОВНЫЕ СТИЛИ >>>>>*/
.section {
	width: 100%;
	padding-right: 15px !important;
	padding-left: 15px !important;
	margin-right: auto;
	margin-left: auto;
}

.clb {
	clear: both;
	height: 0;
	width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.link:hover {
	opacity: .6;
}

.section-title {
	font-weight: 500;
	font-size: 41px;
	line-height: 51px;
}

.section-title_type_big {
	font-weight: 500;
	font-size: 122px;
	line-height: 152px;
}

.gap {
	margin-top: 88px;
}

/* <<<<< ОСНОВНЫЕ СТИЛИ*/

/*КНОПКИ >>>>>*/
.btn {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.42857143;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.btn--cta {
	color: var(--color__dark);
	background-color: transparent;
	border: 2px solid var(--color__yellow);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn--cta:hover {
	background-color: var(--color__yellow);
}

.btn--red {
	color: var(--color__white);
	background-color: var(--color__red);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn--red:hover {
	opacity: .6;
}

/* <<<<< КНОПКИ*/

/*ДЛЯ СЛАЙДЕРА >>>>>*/
.button-arrow {
	height: 20px;
	width: 20px;
	font-size: 20px;
	color: #000;
	display: grid;
	align-items: center;
	justify-items: center;
	text-decoration: none;
	background-color: transparent;
}
.navigation-prev {
	left: 0;
}
.navigation-next {
	right: 0;
}
.navigation-prev, .navigation-next {
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 10;
}
.slick-dots li {
	margin: 0;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: var(--color__yellow);
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
	color: var(--color__yellow);
}
.slick-dots li button:before {
	font-size: 14px;
	opacity: 1;
	color: var(--color__dark);
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
/*<<<<< ДЛЯ СЛАЙДЕРА*/



.header {
	display: grid;
	gap: 10px;
}

.header__top {
	background: var(--color__yellow);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 45px;
}

.header__menu {
	list-style: none;
	display: flex;
	gap: 25px;
}

.header__menu-link {
	color: var(--color__black);
	text-decoration: none;
	font-size: 14px;
	line-height: 19px;
}
.header__menu-link:hover {
	text-decoration: underline;
}

.header__location {
	display: flex;
	align-items: center;
	gap: 3px;
}

.header__location-icon {
	width: 11px;
	height: 11px;
}

.header__location-value {
	font-size: 14px;
	line-height: 17px;
}

.header__info {
	display: flex;
	justify-content: space-between;
	min-height: 60px;
}

.header__logo {
	background: url(/local/templates/empty/images/logo.svg) no-repeat;
	background-size: cover;
	width: 255px;
	height: 39px;
}

.header__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.phone-link {
	text-decoration: none;
	color: var(--color__red);
	font-size: 28px;
	line-height: 31px;
	font-weight: 500;
}

.callback-link {
	color: var(--color__gray);
	font-size: 12px;
	line-height: 17px;
}


.banner {
	background-repeat: no-repeat;
	min-height: 718px;
	background-size: cover;
	background-position: center;
}

.banner__title{
	font-size: 139px;
	line-height: 173px;
	font-weight: 500;
	color: var(--color__white);
}

.banner__title_type_center {
	text-align: center;
	padding-top: 23px;
	padding-bottom: 32px;
}

.banner__desc {
	display: flex;
	gap: 66px;
}

.banner__advantage {
	display: flex;
	align-items: center;
	gap: 66px;
}

.banner__advantage-item {
	display: flex;
	gap: 20px;
}

.banner__advantage-icon {
	width: 67px;
	height: 46px;
}

.banner__advantage-name {
	color: var(--color__white);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.banner__button {
	max-width: 534px;
	height: 76px;
	font-weight: 500;
	font-size: 18px;
}

.card-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 70px 20px;
	margin-top: 60px;
}

.card {

}

.card__img-list {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color__gray-light);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-height: 345px;
}

.card__img {

}

.card__desc {
	margin-top: 20px;
	margin-bottom: 30px;
}

.card__price {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.card__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 6px;
}

.card__property {
	font-size: 18px;
	line-height: 22px;
	color: var(--color__gray);
}

.card__button {
	width: 257px;
	height: 70px;
	font-weight: 500;
	font-size: 18px;
}

.hang {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.hang__item {
	padding: 17px 20px 30px;
	background: var(--color__gray-light);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.hang__img {
	max-height: 50px;
}

.hang__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	color: var(--color__black);
	padding: 12px 0 5px;
}

.hang__desc {
	font-size: 15px;
	line-height: 15px;
	color: var(--color__gray);
}

.slider {
	margin-top: 20px;
}

.slider__item {
	display: grid;
	grid-template-columns: 475px 1fr;
	background: var(--color__gray-light);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.slider__side-first {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color__yellow);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.slider__img {

}

.slider__side-second {
	background: var(--color__gray-light);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.slider__desc {
	display: grid;
	gap: 20px;
	padding: 40px 70px;
}

.slider__icon {
	max-height: 51px;
}

.slider__name {
	color: var(--color__black);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.slider__text {
	color: var(--color__gray);
	font-size: 18px;
	line-height: 22px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}

/* Custom, iPhone 6/7/8/X */
@media (max-width: 375px) {

}

/* Custom, iPhone Retina 5/SE */
@media (max-width: 320px) {

}


/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.section {
		/*width: 460px;*/
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.section {
		/*width: 750px;*/
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.section {
		/*width: 970px;*/
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.section {
		max-width: 1140px;
	}
}