@charset "UTF-8";
button {
    width: 100%;
}
.comment{
    color: red;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
.cta,
.cta.bl:after {
    display: block;
    height: 56px;
    line-height: 3.25em
}
.cta,
.cta.b2:after {
    display: block;
    height: 56px;
    line-height: 3.25em
}

.cta.bl,
.cta.outline {
    border: 1px solid #8e2d31
}
.cta.b2,
.cta.outline {
    border: 1px solid #8e2d31
}

.cta,
h2,
h3 {
    text-align: center
}

.forma .cta,
.forma input,
section {
    width: 100%
}

#by h2,
h1 {

}

footer,
section {
    min-width: 1170px
}

.nv {
    color: #23292e
}

.bl {
    color: #8e2d31
}

.gr {
    color: #777
}

.wh {
    color: #f5f5f5
}

.bold {
    font-weight: 700
}

.xbold {
    font-weight: 800
}

.cta {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none!important;
    overflow: hidden
}


.cta.bl {
    background: #8e2d31;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
    overflow: hidden;
    position: relative
}
.cta.b2 {
    background: #fff;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
    overflow: hidden;
    position: relative;
    color: #8e2d31;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
}
.cta.b2 img {
    position: absolute;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.cta.bl:after,
.cta.bl:hover:after {
    content: attr(data-hover);
    background: #fff
}
.cta.b2:after,
.cta.b2:hover:after {
    content: attr(data-hover);
    background: #8e2d31
}

.cta.bl:after {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform ease .3s;
    -o-transition: transform ease .3s;
    transition: transform ease .3s;
    transition: transform ease .3s, -webkit-transform ease .3s;
    top: 0;
    left: 0
}
.cta.b2:after {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform ease .3s;
    -o-transition: transform ease .3s;
    transition: transform ease .3s;
    transition: transform ease .3s, -webkit-transform ease .3s;
    top: 0;
    left: 0
}

.cta.bl:hover:after,
.product .product-info {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0)
}
.cta.b2:hover:after,
.product .product-info {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0)
}

.cta.bl:hover:after {
    transform: translateY(0);
    color: #8e2d31
}
.cta.b2:hover:after {
    transform: translateY(0);
    color: #fff;
}

.cta.outline {
    color: #8e2d31
}

.forma input {
    font-weight: 300;
    border: 0;
    border-bottom: 1px solid #777;
    background: 0 0;
    padding-bottom: 8px;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .66s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .66s;
    transition: cubic-bezier(0, 0, .2, 1) .66s
}

.forma input:focus {
    outline: 0;
    border-bottom: 1px solid #8e2d31;
    color: #23292e
}

.forma textarea {
    border: 1px solid #777;
    font-size: 18px;
    color: #777;
    font-family: "Open sans"  !important;
    font-family-font-weight: 300;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .66s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .66s;
    transition: cubic-bezier(0, 0, .2, 1) .66s
}

h1,
h2 {
    font-family: 'Open sans' !important;
}

.forma textarea:focus {
    outline: 0;
    border: 1px solid #8e2d31;
    color: #23292e
}

@-webkit-keyframes topfa {
    from {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes topfa {
    from {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

#by h2,
#by h3 {
    color: #fff
}

#by h2 span,
#by h3 span {
    display: inline;
    background: rgba(54, 81, 124, .8);
    color: #fff;
    padding: 0 10px;
    line-height: 1.37em
}

.vert-line,
h2 {
    display: block
}

h1,
h2,
input,
li,
p {
    color: #23292e
}

body {
    background: #fff
}

h1 {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 0px
}
h1 span>i{
    text-decoration: line-through;
    color: red;
    font-style: normal;
}
h1 i>i {
    color: #23292e!important;
    font-weight: 200;
    font-style: normal;
}
h2 {
    font-weight: 200;
    font-size: 38px;
    padding-bottom: 19px;
    text-transform: uppercase;
}

h3,
h4 {
    font-weight: 300;
    font-family: 'Open Sans' !important;
}

h3 {
    font-size: 24px;
    padding-bottom: 36px
}

h4 {
    font-size: 22px
}

b {
    font-family: 'Open Sans' !important;
    font-weight: 600
}

input,
li,
p {
    font-family: 'Open Sans' !important;
    font-weight: 300;
    font-size: 18px
}

section {
    position: relative;
    padding-top: 70px!important;
    padding-bottom: 70px!important
}
section#advantage {
    /*padding-bottom: 100px!important;*/
}
.vert-line {
    position: absolute;
    top: 50px;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) 1s;
    -o-transition: cubic-bezier(0, 0, .2, 1) 1s;
    transition: cubic-bezier(0, 0, .2, 1) 1s;
    left: 50%;
    background: #8e2d31;
    width: 1px;
    height: 0
}

#catalog-arenda{
        background: #fff;
}
#catalog-section #catalog-nav-1 ul li,
#stick .header .toplinks .nav li a {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s
}

header {
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgba(35, 41, 47, 0.33);
}

header .logo {
    background: url(/img/logo4.png) 15px 6px no-repeat;
    -webkit-background-size: 154px 154px;
    background-size: 230px;
}

header .header.container {
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .descriptor {
    font-size: 24px;
    color: #23292e;
    line-height: 1.25em;
    padding-top: 0px;
    text-align: center;
}

header .contacts {
    text-align: right
}

header .contacts p {
    font-size: 16px;
    margin-bottom: 5px;
}

header .contacts .phone {
    font-family: 'Open Sans' !important;
    font-weight: 800;
    color: #fff !important;
    font-size: 38px;
    margin-top: -5px;
    /*background: #8e2d31;*/
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.contacts p {
    font-weight: 500;
    padding-left: 0;
}
.contacts p span{
    position: relative;
}
.contacts p span:before{
    content: "";
    background: url(/img/saint-petersburg-metro-logo.png) no-repeat;
    height: 24px;
    width: 24px;
    position: absolute;
    display: block;
}
body > header > div > div > div:nth-child(3) > div > p:nth-child(2) > span:before{
    right: 102px
}

body > header > div > div > div:nth-child(4) > div > p:nth-child(2) > span:before{
    right: 60px
}
#contacts-bottom > div > div > div:nth-child(2) > p > span{
    position: relative;
}
/*#contacts-bottom > div > div > div:nth-child(1) > p:nth-child(2):before{
    content: "";
    background: url(/img/saint-petersburg-metro-logo.png) no-repeat;
    height: 24px;
    width: 24px;
    position: absolute;
    display: block;
    left: 10px;
    top: 33px;
}*/
#contacts-bottom > div > div > div:nth-child(3) > p:nth-child(2) > span:before{
    content: "";
    background: url(/img/saint-petersburg-metro-logo.png) no-repeat;
    height: 24px;
    width: 24px;
    position: absolute;
    display: block;
    right: 450px;
}
#stick {
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    background: #23292e;
    height: 60px;
    overflow: hidden
}

#catalog-section #catalog-nav-1 ul,
#stick .header .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

#stick .header {
    padding-top: 12px
}

#stick .header .logo {
    background: url(/img/logo-wh.svg) no-repeat;
    background-position-y: 1px;
    width: 100%;
    height: 100%
}

#stick .header .toplinks .nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#stick .header .toplinks .nav li {
    padding-right: 20px
}

#stick .header .toplinks .nav li:last-child {
    padding-right: 0
}

#stick .header .toplinks .nav li a {
    font-size: 24px;
    font-weight: 700;
    /*color: #F44336;*/
    color: #fff;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    text-transform: uppercase;
}
#stick .header .toplinks {
    padding-top: 5px;
}

#stick .header .toplinks .nav li a:hover {
    /*color: #F44336;*/
    color: #fff;
    text-decoration: none
}

/*#stick .header .contacts a,
#stick .header .contacts p {
    text-align: right;
    color: #acabab;
    font-size: 14px
}*/

#stick .header .contacts {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

/*#stick .header .contacts p {
    margin-bottom: 0;
    line-height: 1.25em;
    color: #fff;
    font-size: 24px;
    font-weight: 600
}*/

#stick .header .contacts{
    display: block;
}
#stick .adres-stick{

}

#stick .header .cta {
    height: 31px;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 2em;
    margin-top: 8px;
}

#stick .header .cta:hover {
    color: #8e2d31;
}

#stick .header .cta:hover:after {
    padding: 0;
    color: #8e2d31
}

#stick .header .cta:after {
    color: #8e2d31;
    padding: 0;
    line-height: 2.25em
}

#main.bkbd {
    background: url(/img/bg_bd_bk.jpg) top center no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

#main {
    height: 650px;
    min-height: 650px
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: rgba(59, 93, 134, 0.64); */
    /* background: rgba(54, 81, 124, .7); */
    background: rgba(35, 41, 46, 0.65);
}
.overlay-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(35, 41, 46, 0.7);
}
.overlay-3 {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(35, 41, 46, 0.25);
    z-index: 0;
}
/* #main h1 {
    text-align: center;
    padding: 0 2px;
    text-shadow: 0px 0px 10px #23292f;
} */

#main h1 {
    text-align: left;
    color: #fff!important;
    text-transform: uppercase;
}

/* #main h1 span {
    display: inline;
    background: rgba(54, 81, 124, .8);
    color: #fff;
    padding: 0 10px;
    line-height: 1.37em
}
 */
#main h1 span {
    /* display: inline; */
    color: #fff!important;
    line-height: 1.4em;
}


.banner__desc {
   display: flex;
   gap: 66px;
}

.banner__advantage {
   display: flex;
   align-items: center;
   gap: 66px;
}

.banner__advantage-item {
   display: flex;
   gap: 20px;
    align-items: center;
}

.banner__advantage-icon {
   width: 67px;
   height: 46px;
   pointer-events: none;
}

.banner__advantage-name {
   color: #fff !important;
   font-weight: 500 !important;
   font-size: 18px !important;
   line-height: 22px !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .banner__desc {
        gap: 36px;
    }
    .banner__advantage {
        gap: 36px;
    }
    .banner__advantage-name {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .banner__desc {
        flex-direction: column;
        gap: 27px;
    }
    .banner__advantage {
        gap: 43px;
    }
    .banner__advantage-item {
        gap: 10px;
        align-items: center;
    }
    .banner__advantage-icon {
        width: 28px;
        height: 28px;
    }
    .banner__advantage-name {
        font-size: 14px !important;
        line-height: 14px !important;
    }
}

#main h2,
.form h2 {
    font-size: 30px;
    padding-bottom: 0
}

#main h2 {
    font-weight: 600;
    padding-top: 17px;
    text-align: left;
    margin-top: -2px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 45px;
    color: #fff;
}
#main h2.big-h2{
    font-weight: 800;
    font-size: 106px;
    margin-top: 130px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
#main h2 span {
    display: inline;
   /*  background: rgba(54, 81, 124, .8); */
    color: #fff;
    line-height: 1.4em;

}

#main p {
    color: #8e2d31;
    padding-top: 55px;
    margin-bottom: 51px;
    font-weight: 400
}

.form {
    padding-top: 69px
}

.form h2 {
    font-weight: 400;
    margin-bottom: 33px
}

.form h3,
h3.post-title {
    font-weight: 300;
    text-align: center
}

.form h3 {
    font-size: 22px;
    margin-bottom: 109px;
    color: #777
}

.form .forma {
    padding-top: 10px
}

.form .forma .input-col {
    margin-top: -11px
}

.form .forma .cta {
    width: 100%!important;
    max-width: 100%;
    display: block;
    text-align: center
}

.form .forma .conf {
    font-size: 12px;
    line-height: 1.25em;
    padding-top: 15px
}

.form .forma .conf a {
    text-decoration: underline;
    color: #777
}

.input-col input {
    border: 0;
    border-bottom: 1px solid #8e2d31;
    background: 0 0;
    padding-bottom: 8px;
    width: 100%;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .66s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .66s;
    transition: cubic-bezier(0, 0, .2, 1) .66s
}

.input-col input:focus {
    outline: 0;
    border-bottom: 1px solid #8e2d31;
    color: #23292e
}

h3.post-title {
    font-size: 22px;
    margin-bottom: 110px;
    color: #777
}

#catalog-section #catalog-nav-1 {
    background: #8e2d31;
    height: 69px
}

#catalog-section #catalog-nav-1 ul {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 20px
}

#catalog-section #catalog-nav-1 ul li {
    color: #f5f5f5;
    text-transform: uppercase;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 7px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1em;
    transition: cubic-bezier(0, 0, .2, 1) .33s
}

#catalog-section #catalog-nav-1 ul li.active {
    color: #23292e;
    border-bottom: 1px solid #23292e;
    font-size: 133%
}

#catalog-section #catalog-nav-2 {
    background: #f5f5f5
}

#catalog-section #catalog-nav-2 .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#catalog-section #catalog-nav-2 .tabs li {
    color: #23292e;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    height: 36px;
    line-height: 2.75em;
    margin-left: 15px;
    margin-right: 15px
}

#catalog-section #catalog-nav-2 .tabs li.active {
    color: #8e2d31
}

#catalog-section .box {
    display: none
}

#catalog-section .open_tab,
#catalog-section .visible {
    display: block;
    width: 100%
}
.triggers p{
    font-size: 16px;
    font-weight: 200;
    color: #fff!important;
    text-align: center;
}
.triggers p b{
    font-size: 20px;
    font-weight: 800;
    color: #fff!important;
}
.bd,
.bk,
.mz,
.pox {
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important
}

.product {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .5s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .5s;
    transition: cubic-bezier(0, 0, .2, 1) .5s;
    cursor: pointer;
    padding-bottom: 25px;
    padding-top: 15px;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 0!important;
    -webkit-flex: 0 0 30%!important;
    -ms-flex: 0 0 30%!important;
    flex: 0 0 30%!important;
    flex-max-width: 30%!important;
    flex-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15)
}

.product .img-product {
    /*width: 338px*/
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product h3 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px
}

.product .product-info {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .5s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .5s;
    transition: cubic-bezier(0, 0, .2, 1) .5s;
    transform: translateY(0);
    opacity: 1
}

.product .product-info p {
    font-size: 17px;
    color: #23292e;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.product .product-info span {
    font-size: 17px;
    opacity: .75;
    font-weight: 400
}

.product .product-info .price-month{
    font-weight: 800;
}
.product .more {
    display: block;
    position: absolute;
    width: 260px;
    left: 50%;
    margin-left: -130px;
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.product:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3)
}

.product:hover .product-info {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .25s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .25s;
    transition: cubic-bezier(0, 0, .2, 1) .25s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0
}

.product:hover .more {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    opacity: 1;
    -webkit-transform: translateY(-66px);
    -ms-transform: translateY(-66px);
    transform: translateY(-66px)
}

section.after-main-sec{
    background: #23292f;
    background: url(/img/bg-2sec.png) no-repeat bottom center;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    height: 206px;
}

.after-main-sec h2{
    /* color: #fff; */
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0px;
    line-height: 1.4em;
}
.after-main-sec h2 span{
    color: #8e2d31;
}
#dop_op{
    background: #f6f6f6;
}
.box {
    display: none;
}
.box .col-3 p{
    margin-top: 15px;
    text-align: center;
}
#dop_op .box .col-3 img{
    width: 180px;
    height: 120px;
    margin: 0 auto;
    display: block;
}
.box.visible {
    display: block;
}
.dop-nav{
    background: #8e2d31;
    padding-top: 25px;
}
#dop_op .tabs{
    margin: 0;
    padding: 0;
}
#dop_op .tabs li{
    color: #fff;
    border-left: 1px solid #fff;
    transition: .33s;
    padding: 0px;
    padding-left: 5px;
    margin-bottom: 25px;
    list-style: none;
    line-height: 1em;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
#dop_op .tabs li.current{
    color: #000;
    border-left: 1px solid #000;
}
#dop_op .tabs li:hover {
    color: #555;
    border-left: 1px solid #555;
    cursor: pointer;
}

#by {
    background: url(/img/bg_by.jpg) center center;
    height: 780px
}

#by .forma {
    margin-top: 60px;
    width: 960px;
    background-color: rgba(54, 81, 124, .8);
    padding-top: 25px;
    padding-bottom: 25px
}

#by .forma input {
    color: #fff;
    border-bottom: 1px solid #8e2d31
}

#delivery {
    margin-top: 0px;
    background: #f5f5f5;
    padding-bottom: 30px!important;
    /* height: 995px */
}

#delivery .infographic .icon {
    height: 54px;
    width: 100%;
    margin-bottom: 12px
}

#delivery .infographic p {
    text-align: center;
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 400
}

#delivery .infographic .col-12 {
    margin-bottom: 60px
}

#delivery .infographic .col-3:nth-child(1) .col-12:nth-child(1) .icon {
    background: url(/img/car.svg) center top no-repeat
}

#delivery .infographic .col-3:nth-child(1) .col-12:nth-child(2) .icon {
    background: url(/img/clok.svg) center top no-repeat
}

#delivery .infographic .col-6:nth-child(2) {
    background: url(/img/manipulator.png) center top no-repeat
}

#delivery .infographic .col-3:nth-child(3) .col-12:nth-child(1) .icon {
    background: url(/img/skid.svg) center top no-repeat
}

#delivery .infographic .col-3:nth-child(3) .col-12:nth-child(2) .icon {
    background: url(/img/man.svg) center top no-repeat
}

#delivery .forma {
    margin-top: 60px;
    width: 960px
}

#delivery .forma h3 {
    font-weight: 400
}

#delivery .forma input {
    color: #23292e;
    border-bottom: 1px solid #8e2d31
}

#sertification {
    height: 965px;
    overflow: hidden;
    background: url(/img/setr_perspective.jpg) bottom center no-repeat
}

#arenda .icon {
    width: 100%
}

#arenda .col-3 {
    margin-top: 25px
}

#arenda .col-3:nth-child(2) .icon {
    background: url(/img/sost.svg) center no-repeat;
    height: 84px
}

#arenda .col-3:nth-child(3) .icon {
    background: url(/img/car2.svg) center no-repeat;
    height: 84px
}

#arenda .col-3:nth-child(4) .icon {
    background: url(/img/dilivry.svg) center no-repeat;
    height: 84px
}

#arenda .col-3:nth-child(5) .icon {
    background: url(/img/skid2.svg) center no-repeat;
    height: 84px
}

#arenda h4 {
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
    font-weight: 600
}

#arenda p,
#arenda_form h2 {
    text-align: center;
    font-weight: 400
}

#arenda h4:after {
    display: block;
    background: #8e2d31;
    content: "";
    height: 1px;
    width: 92px;
    margin: 15px auto
}

#arenda p {
    font-size: 14px
}

#arenda_form {
    height: 712px;
    position: relative;
    background: url(/img/arenda.jpg) center top no-repeat
}

#arenda_form h2 {
    font-size: 32px
}

#arenda_form h3 {
    font-size: 22px
}

#arenda_form .form-section .range-slider__range {
    width: -webkit-calc(100% - (90px));
    width: calc(100% - (90px))
}

#arenda_form .form-section .range-slider__value {
    width: 77px
}

#arenda_form .form-section .promoted-checkbox i {
    font-size: 14px!important;
    font-style: normal
}

#arenda_form .form-section .forma {
    padding-top: 30px
}

#advantage {
    background: #f5f5f5
}

#advantage .info h3 {
    font-size: 32px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #8e2d31
}

#advantage .info p {
    line-height: 1.25em;
    font-size: 16px
}

#advantage .info .col-4 p {
    text-align: center;
    font-size: 18px;
    color: #23292e;
    line-height: 1.25em
}

#advantage .info .col-4 p b {
    font-size: 150%;
    line-height: 1.25em
}

/* #advantage .row:nth-child(2) {
    border-bottom: 1px solid #eaeaea;

    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 294px
}

#advantage ul li:nth-child(2) .bg {
    background: url(/img/a1.jpg) no-repeat;
}

#advantage .row:nth-child(3) {
    border-bottom: 1px solid #eaeaea;

    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 294px
}

#advantage .row:nth-child(4),
#advantage .row:nth-child(5) {
    border-bottom: 1px solid #eaeaea;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 294px;
    margin-bottom: 0
}

#advantage ul li:nth-child(3) .bg {
    background: url(/img/a2.jpg) no-repeat;
}

#advantage .row:nth-child(4) {
}

#advantage ul li:nth-child(4) .bg {
    background: url(/img/a3.jpg) no-repeat;
}

#advantage .row:nth-child(5) {
}

#advantage ul li:nth-child(5) .bg {
    background: url(/img/a4.jpg) no-repeat;
}

#advantage .row:nth-child(6) {

    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 294px
}

#advantage ul li:nth-child(6) .bg {
    background: url(/img/a5.jpg) no-repeat;
}
 */
#faq {
    background: #f9f9f9;
    padding-top: 185px
}

#faq .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#faq li {
    list-style: none;
    padding: 12px 0
}

#faq .dropdownlink {
    font-family: Open Sans !important;
    font-weight: 400;
    color: #23292e;
    font-size: 22px;
    cursor: pointer;
    line-height: 1.25em;
    padding-bottom: 6px
}

#faq .dropdownlink i {
    margin-right: 24px;
    width: 16px;
    height: 16px;
    position: relative
}

#faq .dropdownlink i:before {
    top: 13px;
    content: "";
    position: absolute;
    width: 17px;
    height: 3px;
    background: #8e2d31
}

#faq .dropdownlink i:after,
#faq .open i:after {
    top: 6px;
    left: 7px;
    position: absolute;
    background: #8e2d31;
    content: ""
}

#faq .dropdownlink i:after {
    height: 17px;
    width: 3px;
    -webkit-transition: .33s;
    -o-transition: .33s;
    transition: .33s
}

#contact .contact-info .col-3:nth-child(2) a,
footer .col-2 p a {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s
}

#faq .open i:after {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0)
}

#faq .submenuItems {
    display: none;
    background: #f5f5f5;
    padding: 12px 24px
}

#faq .submenuItems p {
    line-height: 1.25em;
    margin-bottom: 0;
    color: #23292e
}

#contact h2 {
    margin-bottom: 70px
}

#contact .contact-info .col-3:nth-child(1) .icon {
    background: url(/img/phone-icon.svg) no-repeat;
    width: 37px;
    height: 36px
}

#contact .contact-info .col-3:nth-child(1) p {
    color: #23292e;
    font-weight: 300;
    font-size: 18px
}

#contact .contact-info .col-3:nth-child(2) .icon {
    background: url(/img/mail-icon.svg) no-repeat;
    width: 67px;
    height: 36px
}

#contact .contact-info .col-3:nth-child(2) a {
    color: #23292e;
    font-size: 18px;
    transition: cubic-bezier(0, 0, .2, 1) .33s
}

#contact .contact-info .col-3:nth-child(2) a:hover {
    color: #8e2d31;
    text-decoration: none
}

#contact .contact-info .col-3:nth-child(3) .icon {
    background: url(/img/location-icon.svg) no-repeat;
    width: 42px;
    height: 64px
}

#contact .contact-info .col-3:nth-child(3) p {
    color: #23292e;
    font-weight: 300;
    font-size: 14px
}

#contact .contact-info .col-3:nth-child(4) .icon {
    background: url(/img/clock-icon.svg) no-repeat;
    width: 37px;
    height: 36px
}

#contact .contact-info .col-3:nth-child(4) p {
    color: #23292e;
    font-weight: 300;
    font-size: 18px
}

#contact .contact-info .col-3 .icon {
    float: left;
    margin-right: 20px
}

#contact .forma {
    margin-top: 100px
}

#contact .forma .input-col {
    margin-bottom: 36px
}

#contact .forma .textarea {
    padding-top: 35px;
    margin-bottom: 24px
}

#contact .forma .textarea textarea {
    width: 100%;
    height: 152px;
    resize: none;
    padding: 5px 10px
}

#contact .forma .cta {
    text-align: center;
    display: block
}

#contact .forma .conf {
    font-size: 12px;
    line-height: 1.25em
}

#contact .forma .conf a {
    color: #777;
    text-decoration: underline
}

footer {
    /*width: 100%;*/
    /*padding-top: 30px;*/
    padding-bottom: 0px;
    background: #eaeaea;
}
footer .text-logo{
    text-align: center!important;
}
footer .col-7 .logo {
    background: url(/img/logo.svg) no-repeat;
    -webkit-background-size: 226px 48px;
    background-size: 226px 48px;
    width: 226px;
    height: 48px;
    margin-left: -16px;
    margin-bottom: 24px
}

footer .col-7 p {
    font-size: 14px;
    line-height: 1.25em
}

footer .col-7 .copyright {
    font-size: 16px
}

footer .col-2 p {
    font-size: 16px;
    line-height: 1.25em;
    padding-bottom: 3px
}

footer .col-2 p a {
    color: #777;
    text-decoration: none;
    transition: cubic-bezier(0, 0, .2, 1) .33s
}

.modal .close,
footer .col-3 ul li a {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s
}

footer .col-2 p a:hover {
    color: #8e2d31
}

footer .col-3 ul li {
    list-style: none;
    padding-bottom: 10px
}

footer .col-3 ul li a {
    color: #777;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    text-decoration: none
}

footer .col-3 ul li a:hover {
    color: #8e2d31
}

footer .cta {
    margin-top: 36px;
    font-size: 12px;
    height: 36px;
    text-align: center;
    line-height: 2.5em
}

footer .cta:after {
    line-height: 2.75em!important;
    height: 36px;
    font-size: 12px
}

#documentation {
    background: #fff
}

#documentation img {
    width: 100%
}

#documentation .col-4 {
    margin-top: 15px
}

#documentation .col-4 h4 {
    margin-top: -30px;
    text-align: center;
    font-weight: 400;
    position: relative;
    padding-top: 15px
}

#documentation .col-4 h4:before {
    content: "";
    width: 200px;
    height: 1px;
    background: #8e2d31;
    display: block;
    position: absolute;
    top: -8px;
    z-index: 2;
    left: 50%;
    margin-left: -100px
}

.modal,
.modal-backdrop {
    background: rgba(240, 240, 240, .95)
}

.modal .modal-header {
    border: none
}

.modal .modal-footer {
    border: none;
    padding-top: 0
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 0;
    font-size: 36px;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    color: rgba(33, 38, 41, 0.5);
    font-family: 'Open Sans' !important;
    font-weight: 400;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
}

#calc .modal-dialog .modal-content,
#calc .modal-dialog .modal-content .conf a {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s
}

.modal .close:hover {
    color: #8e2d31;
    z-index: 99
}

.modal .close:focus {
    outline: 0
}

.modal.show .modal-dialog {
    width: 750px;
    height: 420px;
    max-width: 750px;
    top: 50%;
    margin-top: -182px
}

.modal.show .modal-dialog .modal-content {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 420px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 11px 40px 7px rgba(0, 0, 0, .15);
    box-shadow: 0 11px 40px 7px rgba(0, 0, 0, .15);
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 15px
}

#calc .modal-dialog {
    width: 750px;
    height: 420px;
    max-width: 750px;
    top: 50%;
    margin-top: -182px
}

#calc .modal-dialog .modal-content {
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 420px
}

#calc .modal-dialog .modal-content .modal-body .col-12 .input-col {
    margin-bottom: 10px
}

#calc .modal-dialog .modal-content .input-col {
    margin-top: 25px;
    margin-bottom: 35px
}

#calc .modal-dialog .modal-content .conf {
    font-size: 12px;
    color: #777;
    line-height: 1.25em;
    margin-top: 15px
}

#calc .modal-dialog .modal-content .conf a {
    color: #777;
    transition: cubic-bezier(0, 0, .2, 1) .33s
}

#calc .modal-content,
.steps .step p {
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s
}

#calc .modal-dialog .modal-content .next-step {
    text-align: center;
    position: relative
}

#calc .modal-dialog .modal-content .next-step:before {
    content: "";
    background: url(/img/next-step.svg) no-repeat;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 30px
}

#calc .modal-dialog .modal-content .next-step:hover:before {
    background: url(/img/next-step-active.svg) no-repeat;
    z-index: 9
}

.steps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.steps .step {
    position: relative
}

.steps .step .icon {
    background: url(/img/next-step-gray.svg) no-repeat;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 9px;
    right: -50px
}

.steps .step p {
    font-weight: 500;
    font-size: 18px;
    color: #acabab;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    cursor: pointer
}

.steps .step p:hover {
    color: #8e2d31
}

.steps .step.active .icon {
    background: url(/img/next-step-active.svg) no-repeat
}

.steps .step.active p {
    color: #8e2d31;
    font-size: 22px;
    margin-top: -2px
}

#calc .modal-content {
    overflow: hidden;
    display: none;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px)
}

#calc .modal-content.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.advantage-modal h3,
.delivery-modal h3 {
    font-size: 22px;
    width: 100%;
    font-weight: 500;
    color: #23292e;
    border-bottom: 1px solid #8e2d31;
    padding-bottom: 7px;
    padding-top: 5px
}

.advantage-modal p,
.delivery-modal p {
    color: #23292e;
    line-height: 1.25em
}

.advantage-modal .triggers,
.delivery-modal .triggers {
    padding-top: 60px
}

.advantage-modal .triggers p,
.delivery-modal .triggers p {
    font-size: 16px;
    color: #acabab;
    padding-left: 24px;
    position: relative
}

.advantage-modal .triggers p:after,
.delivery-modal .triggers p:after {
    content: "";
    background: url(/img/check.svg) no-repeat;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 0
}

.advantage-modal.show .modal-content h3,
.delivery-modal.show .modal-content h3 {
    -webkit-animation: topfa .25s cubic-bezier(0, 0, .2, 1);
    animation: topfa .25s cubic-bezier(0, 0, .2, 1)
}

.advantage-modal.show .modal-content p,
.delivery-modal.show .modal-content p {
    -webkit-animation: topfa .5s cubic-bezier(0, 0, .2, 1);
    animation: topfa .5s cubic-bezier(0, 0, .2, 1)
}

.advantage-modal.show .modal-content .triggers,
.delivery-modal.show .modal-content .triggers {
    -webkit-animation: topfa .75s cubic-bezier(0, 0, .2, 1);
    animation: topfa .75s cubic-bezier(0, 0, .2, 1)
}

.input-row {
    padding: 20px 0
}

.input-row p {
    padding: 0;
    margin: 0
}

#calculator h3,
#product h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center
}

#calculator label,
#product label {
    font-family: 'Open Sans' !important;
    font-size: 18px;
    font-weight: 300
}

#calculator .type-product,
#product .type-product {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #8e2d31;
    padding-top: 10px;
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: 15px
}

#calculator .type-product .col-4,
#product .type-product .col-4 {
    cursor: pointer
}

#calculator .type-product .col-4 p,
#product .type-product .col-4 p {
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px
}

#calculator .type-product .col-4.active,
#product .type-product .col-4.active {
    border-bottom: 4px solid #172365;
    margin-bottom: -2px
}

#calculator .type-product .col-4.active p,
#product .type-product .col-4.active p {
    font-size: 18px;
    color: #172365
}

#calculator .modal-dialog,
#product .modal-dialog {
    top: 15px;
    margin-top: 5px
}

#calculator .modal-content,
#product .modal-content {
    height: auto!important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0
}

#calculator .dropdown,
#product .dropdown {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #777;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-bottom: 0;
    outline: 0
}

#calculator .dropdown .select,
#product .dropdown .select {
    padding-bottom: 7px
}

#calculator .dropdown .select:focus,
#product .dropdown .select:focus {
    outline: 0
}

#calculator .dropdown .select span,
#product .dropdown .select span {
    font-family: 'Open Sans' !important;
    font-size: 18px;
    font-weight: 300
}

#calculator .dropdown .select .fa-chevron-down,
#product .dropdown .select .fa-chevron-down {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #8e2d31
}

#calculator .contact-form,
#product .contact-form {
    background: #f5f5f5;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: -14px;
    padding: 25px
}

#calculator .contact-form h3,
#product .contact-form h3 {
    margin-bottom: 25px
}

#calculator .contact-form .cta,
#product .contact-form .cta {
    margin-top: 30px
}

#product .modal-dialog {
    width: 1140px;
    height: auto;
    max-width: 1140px;
    top: 15px
}
.modal{
    z-index: 9999!important;
}
#product .modal-dialog .modal-content {
    overflow: hidden;
    position: relative;
    width: 1140px;
    height: auto;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 15px
}

#product .modal-dialog .modal-content .img-product-main {
    width: 100%
}

#product .modal-dialog .modal-content .product-modal-right .calc-sec {
    background: #f9f9f9;
    padding-left: 40px;
    padding-right: 40px;
    margin: -15px -25px -15px -30px
}

#product .modal-dialog .modal-content .contact-form {
    margin-top: 15px
}

#product .modal-dialog .modal-content .contact-form.title-product-form {
    margin-top: -30px;
    margin-bottom: 15px;
    padding-bottom: 0
}

#product .modal-dialog .modal-content .phone-field {
    margin-top: 17px
}

#product .modal-dialog .modal-content .dropdown {
    background: #f9f9f9
}

.not_phone {
    border-bottom: 1px solid red!important
}

#contacts {
    background: #f5f5f5;
    background: url(/img/bg_bott.jpg) top center;
    background-size: cover;
    height: 610px;
}
#contacts h2, #contacts h3{
    color: #f3f4f5;
    text-shadow: 0px 0px 10px #212629;
}
#contacts-bottom h4,
#contacts-bottom p {
    margin-bottom: 5px;
    line-height: 1.5em;
    text-align: center;
/*     color: #f3f4f5;
text-shadow: 0px 0px 10px #212629; */
}

#contacts .phone {
    margin-bottom: 15px;
    margin-top: 0px;
    color: #8e2d31;
    font-size: 150%
}

#product-gallery{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
#contacts-bottom {
    margin-top: 0px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background: #f5d6be;
    /* background: rgba(255, 255, 255, 0.8); */
    /* background: rgba(35, 41, 46, 0.99); */
}


#contacts-bottom .container{
    padding: 10px 20px 10px!important;
}
#contacts-bottom p{
    color: #23292e;
}
#contacts-bottom .phone b{
    font-size: 24px;
}
.img-thumb{
    width: 90%;
    text-align: center;
    margin-top: 25px;
    -webkit-transition: cubic-bezier(0, 0, .2, 1) .33s;
    -o-transition: cubic-bezier(0, 0, .2, 1) .33s;
    transition: cubic-bezier(0, 0, .2, 1) .33s;
    box-sizing: border-box;
    border: 2px solid #fff;
    flex: 0 0 28%;
    /*max-width: 30%;*/
    max-width: 28%;
    /*height: 100%;
    max-height: 230px;*/
}
.img-thumb:hover{
    border: 2px solid #eaeaea;
    cursor: pointer;
}
.img-thumb.active{
    border: 2px solid rgba(244, 67, 54, 0.5);
}
#img_3{
    margin-right: 5%;
}
/* .prich{
    margin-top: 30px;
    margin-bottom: 15px;
} */
.hor-form-sec {
    background: #eeede8;
    padding: 0px 0px!important;
    padding-top: 30px!important;
    margin-top: -0px;
    background: url(/img/bg_form_1.jpg) no-repeat;
    background-position-x: center;
    background-position-y: top;

}
.hor-form-sec .container{
    height: 570px;
    background-size: 100%;
}
.hor-form-sec h2{
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 25px!important;
    font-weight: 200;
    text-align: center;
    margin-bottom: ;
}
/* .hor-form-sec .col-4 h2{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 800;
} */
.hor-form-sec.after-map{
    background: #f6f6f6!important;
    padding: 35px 0px!important;
    margin-top: -55px;
}
.hor-form{
    text-align: center;
    /* padding: 30px 15px; */
}
.hor-form h2{
    margin-top: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.hor-form h3{
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
}
.hor-form h3.phone-arenda{
    font-size: 32px;
}
.hor-form p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.25em;
}
.person-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url(/img/girl.jpg);
    background-size: contain;
    margin: 0 auto 5px;
}
.preson-name{
    line-height: 1.25em;
    font-size: 14px;
}

.person-img-2{
    background: url(/img/girl_big.jpg);
    height: 513px;
    margin: 0 auto 5px;
    background-size: 770px;
}
.preson-name-2{
    line-height: 1.25em;
    font-size: 18px;
}

#why-we{
    background: url(http://i.imgur.com/C3YLvBx.jpg) center;
    background-size: cover

}
#why-we .overlay-2{
    top: 0px
}
#why-we h2{
    margin-bottom: 50px;
}
#why-we h2, #why-we p{
    color: #fff!important;
}
.prich .icon{
   /*  background: #eaeaea; */
    width: 110px;
    height: 110px;
    margin: 30px auto 15px;
    background-size: contain;
}
.hor-form .input-col{
    margin-top: 45px;
}
.prich .icon[data-icon="1"]{
    background: url(/img/icon/5prichin/1.svg) no-repeat;
    
}
.prich .icon[data-icon="2"]{
    background: url(/img/icon/5prichin/2.svg) no-repeat;
}
.prich .icon[data-icon="3"]{
    background: url(/img/icon/5prichin/3.svg) no-repeat;
}
.prich .icon[data-icon="4"]{
    background: url(/img/icon/5prichin/4.svg) no-repeat;
    background-position: center;
}
.prich .icon[data-icon="5"]{
    background: url(/img/icon/5prichin/5.svg) no-repeat;
}
.prich p{
    text-align: center;
    line-height: 1.25em;
}


.nujd{
    margin-top: 30px;
    align-items: flex-end;
}
.nujd .col-3{
    margin-bottom: 45px;
}
.nujd p{
    text-align: center;
    font-size: 18px;
    line-height: 1.25em;
}
.nujd .image{
    width: 250px;
    height: 155px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.nujd .col-3:nth-child(1) .image{
    background: url(http://gorod-bitovok.ru/img/arenda/arenda-bit4.png);
}
.nujd .col-3:nth-child(2) .image{
    background: url(http://gorod-bitovok.ru/img/arenda/arenda-bit2.png);
}
.nujd .col-3:nth-child(3) .image{
    background: url(http://gorod-bitovok.ru/img/arenda/arenda-bit3.png);
}
.nujd .col-3:nth-child(4) .image{
    background: url(http://gorod-bitovok.ru/img/arenda/arenda-bit1.png);
}


.poradok-img{
    margin-top: 25px;
}
.poradok-img img{
    width: 100%;
    text-align: center;

}
.poradok{
    text-align: center;
}

.poradok .image{
    background: #eaeaea;
    width: 70px;
    height: 70px;
    margin: 0px auto 30px;
    float: left;
}
.poradok .col-12{
    margin-top: 55px;
}
.poradok .col-12:nth-child(1) .image{
    background: url(/img/icon/chist/1.svg) no-repeat;
}
.poradok .col-12:nth-child(2) .image{
    background: url(/img/icon/chist/2.svg) no-repeat;
}
.poradok .col-12:nth-child(3) .image{
    background: url(/img/icon/chist/3.svg) no-repeat;
}
.poradok .col-12 p{
    text-align: left;
    padding-top: 5px;
    margin-left: 95px;
    line-height: 1.25em;
    font-size: 24px;
}
#svaz{
    height: 550px;
    background: url(https://contently.com/wp-content/uploads/2013/07/shutterstock_77317735.jpg) no-repeat;
    -ms-background-position-y: top;
    background-position-y: top;
    -webkit-background-size: cover;
    background-size: cover;
}
#svaz .overlay-2{
    top: 0px;
    background: rgba(35, 41, 46, 0.75);

}
#svaz h2{
    color: #fff;
    margin-bottom: 50px;
}
.svaz{
     margin-top: 30px;
     margin-bottom: 30px;
}
.svaz .col-1{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat!important;
    -ms-background-position-x: right!important;
    background-position-x: right!important;
}
.svaz .col-1[data-icon="1"]{
    background: url(/img/icon/svyaz/1.svg);
}
.svaz .col-1[data-icon="2"]{
    background: url(/img/icon/svyaz/2.svg);
}
.svaz .col-1[data-icon="3"]{
    background: url(/img/icon/svyaz/3.svg);
}
.svaz .col-1[data-icon="4"]{
    background: url(/img/icon/svyaz/4.svg);
}
.svaz p{
    line-height: 1.25em;
    color: #fff;
}
.svaz a{
    color: red;
    text-decoration: underline;
}
.svaz b{
    line-height: 1.4em;
}

#poradok-oformlen{
    height: 600px;
    background: url(/img/bg-301.jpg) no-repeat top center;
    background-size: cover;
    -ms-background-position-y: -100px;
    /* background-position-y: -100px; */
}

#poradok-oformlen h2 {
    color: #fff;
    margin-top: 50px;
    font-size: 46px;
    background: rgba(35, 41, 46, 0.75);
    padding-top: 15px;

}
#poradok-oformlen .overlay-2{
    top: 0px;
    background: rgba(35, 41, 46, 0.85);
}
#poradok-oformlen h2{
    margin-bottom: 60px;
    color: #fff;
    text-shadow: 0px 0px 10px #23292f;
}
.poradok-oformlen{
    text-align: center;
    align-items: flex-start;
    margin-top: 30px;
}
.poradok-oformlen p{
    text-align: center;
    font-size: 20px;
    line-height: 1.25em;
    color: #fff;
    text-shadow: 0px 0px 40px #23292f;
    background: rgba(35, 41, 46, 0.75);
    /* height: 80px; */
    display: inline;
    padding: 0px 0px;
    line-height: 1.25em;
}
.poradok-oformlen p b{
    font-size: 28px;
    line-height: 1.25em;
}

.poradok-oformlen .image{
    height: 80px;
    width: 80px;
    margin: 0px auto 15px;
}
.poradok-oformlen .image[data-img="1"]{
    background: url(/img/icon/oform/1.svg) no-repeat;
}
.poradok-oformlen .image[data-img="2"]{
    background: url(/img/icon/oform/2.svg) no-repeat;
}
.poradok-oformlen .image[data-img="3"]{
    background: url(/img/icon/oform/3.svg) no-repeat;
}
.poradok-oformlen .image[data-img="4"]{
    background: url(/img/icon/oform/4.svg) no-repeat;
    background-position-y: center;
    width: 90px;
}
.poradok-oformlen .col-3{
    position: relative;
}
.poradok-oformlen .col-3:nth-child(1):after,
.poradok-oformlen .col-3:nth-child(2):after,
.poradok-oformlen .col-3:nth-child(3):after{
    content: "";
    background: url(/img/icon/arrow-r-wh.svg) no-repeat;
    background-size: contain;
    height: 36px;
    width: 36px;
    display: block;
    position: absolute;
    top: 25px;
    right: -15px;
}


.product-arenda{
    /*-webkit-box-shadow: 0 0 11px 15px rgba(248, 235, 224, 1);
    box-shadow: 0 0 11px 15px rgba(248, 235, 224, 1);*/
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 60px;
    background: #fff;
}
.product-arenda h3{
    padding-bottom: 0px;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    line-height: 1.25em;
    margin-bottom: 0px;
    margin-top: 15px;
}
.product-arenda h4{
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 1.25em;
}
.arenda-product-size{
    font-size: 16px;
}
.price-day{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.25em;
    padding-bottom: 0px;
    margin-bottom: 5px;

}
.price-month{
    font-weight: 200;
    font-size: 16px;
    line-height: 1.25em;
    position: relative;
}
/* .price-month span{
    display: none;
    position: absolute;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #8e2d31;
    right: 109px;
    top: -95px;
    line-height: 1.25em;
    text-align: center;
    padding-top: 30px;
    font-weight: 800;
    font-size: 18px;
} */
.product-gallery{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    overflow: hidden!important;
    position: relative;
    height: 345px;
}
.img-product-main--wrap {
    height: 230px;
}
.product-gallery img{
    width: 82%;

}
.pruduct-desc{
    padding-left: 24px;
}
.pruduct-desc li{
    list-style: none;
    position: relative;
    font-size: 14px;
}

.pruduct-desc li:before{
    content: "";
    background: url(/img/tick.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: -24px;
    top: 3px;
    background-size: contain;
}
.product-arenda-form{
    /*margin-top: 50px;*/
    margin-top: 10px;
}
.product-arenda-form p{
    font-size: 18px;
    line-height: 1.25em;
    text-align: center;
}

.abs-b{
    position: absolute;

}
#arenda_main_form {
    /*background: #f5d6be;*/
    background: #fff;
    background-size: cover;
}

#arenda_main_form h2, #arenda_main_form h3{
    /* color: #23292e; */
    color: #23292e;
    /* text-shadow: 0px 0px 10px #212629; */
}
.pay{}
.pay .icon{
    width: 120px;
    height: 120px;
    margin: 30px auto 15px;
}
.pay .icon[data-icon="1"]{
    background: url(/img/icon/pay/1.svg) no-repeat;
    background-size: contain;
}
.pay .icon[data-icon="2"]{
    background: url(/img/icon/pay/2.svg) no-repeat;
    background-size: contain;
}
.pay .icon[data-icon="3"]{
    background: url(/img/icon/pay/3.svg) no-repeat;
    background-size: contain;
}
.pay p{
    font-size: 16px;
    line-height: 1.25em;
    text-align: center;
}

#map_spb .container {
    height: 860px;
    /* background: url(/img/animation-map-pick.gif) no-repeat, url(/img/map_spb.svg) no-repeat; */
    background: url(/img/animation-map-pick.gif) no-repeat;
    background-position: top center;

}

#map_spb_2{
    position: relative;
    height: 700px;
    /* background: url(/img/animation-map-pick.gif) no-repeat, url(/img/map_spb.svg) no-repeat; */
   /*  background: url(/img/map_russia.png) no-repeat, #000; */
    background: url(/img/map_russia.gif) no-repeat, url(/img/map_russia.png) no-repeat;
    background-position: center -60px;
}
.text--center {
    text-align: center;
}

footer, section {
    min-width: 370px;
}