.range-slider {
  margin: 0px 0px 0px 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (83px))!important;
  height: 1px;
  border-radius: 5px;
  background: #777;
  outline: none;
  padding: 0!important;
  margin: 0!important;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #F44336;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #F44336;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 70px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #F44336;
  padding: 5px 10px;
  margin-left: 8px;
  position: absolute;
  right: 15px;
  top: 2px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #F44336;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select i {
    transform: rotate(180deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    /* box-shadow: 0 1px 2px rgb(204, 204, 204); */
    border-radius: 0;
    overflow: hidden;
    display: none;
    max-height: 195px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}





.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.promoted-checkbox{
  position: relative;
}
.promoted-checkbox input:checked + label > svg {
  height: 24px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}

.promoted-checkbox label:active::after {
  background-color: #f5f5f5;
}

.promoted-checkbox label {
  color: #23292e;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}

.promoted-checkbox label:after {
  content: "";
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  float: left;
  border: 1px solid #F44336;
  border-radius: 3px;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}

.promoted-checkbox svg {
  stroke: #F44336;
  stroke-width: 1px;
  height: 0;
  width: 24px;
  position: absolute;
  left: 9px;
  top: 7px;
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
